header {
	background: #ddd;
}
footer {
	background: #ccc;
}
#home {
	background: aqua;
}
#members {
	background: lightblue;
}
#posts {
	background: lightgreen;
}
#gallery {
	background: orange;
}
#youtube {
	background: pink;
}
#contact {
	background: violet;
}
#join {
	background: lightsalmon;
}

header ul li.on a{
	color: red;
}